@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

*{
    font-family: var(--fonte-primaria);
}

:root{
    --fonte-primaria: font-family:'Open Sans', sans-serif;
    --fonte-secundaria: font-family: 'Rubik', sans-serif;
    --fonte-botao: font-family: 'Shizuru', cursive;
    --fonte-jeancarlos:font-family: 'Just Another Hand', cursive;
    --amarelo-mamys: #EDD44F;
    --amarelo-estranho: #DDD67F;
    --marrom-bombom:#1E1616;
    --red-jean:#CA3B3B;
}

.container{
    max-width:85%;
    width: 1200px;
    margin: 0 auto;
}

body{
    width: 100%;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
    overflow: hidden;
    background-color:var(--amarelo-mamys);
}

nav { 
    display: flex;
    flex-direction: column; 
    align-items: center;
    position: relative;
    background-color: var(--marrom-bombom);
    height: 9.5vh; 
}

nav hr {
    position: absolute;
    bottom: 5px;
    width: 100%;
    border: 1px solid #FFFFFF;
    z-index: 1;
}

.nav {
    display: flex;
    position: absolute;
    margin-top: 20px;
    height: 100%;
    justify-content: space-between;
    z-index: 10;
    /* justify-content: space-between; */

}

.nav li {
    display: flex;
    width: 15%;
    height: 100%;
    align-items: center;
    justify-content:space-around;
    
    
}

.button-menu {
    display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    height: 80%;
    border: 1px solid #CA3B3B;  
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;  
    background-color: var(--marrom-bombom);
}

main {
    max-width: 100%;
    position: relative;
    height: 85vh;
    background-color:var(--amarelo-mamys);
}

.main {
    display: flex;  
    height: 100%;
    
}

.left {
    width: 55%;
    height: 650px;
    display: flex;  
    flex-direction: column;
    justify-content:space-around;

}
.call {
    color: var(--marrom-bombom);
    margin-top: 8%;
    margin-left:-40%;
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    
    font-size: max(30px,2.5vw);
}

.call p:nth-child(1) {
    width: 92%;
    text-align: end;
}

.call-1 {
    width: 70%;
}


.call span {
    color: var(--red-jean);
    font-size: max(35px,3.5vw);
    
    
}

.left .name {
    display: flex;
    flex-direction: column;;
    width: 100%;
    
    color: var(--marrom-bombom);
    letter-spacing: 0;
    
    
    font-family: var(--fonte-jeancarlos);
}

.left .name span:first-child {

    font-size: max(55px, 5vw);
    
}

.left .name span:last-child {
    font-size: max(40px, 3vw);   
}





.line-left{
    width: 100%;
    border: 0.5px solid var(--marrom-bombom);
    
    
}

.left .text {
    
    color: 00000var(--marrom-bombom);
}



.items {
    display: flex;  
    
    width: 100%;
    justify-content:space-between;
    
}

.items .item-box{
    display: flex;

    width:32.3333333333%;
    

    flex-direction: column;
    
}

.items .item-box img {
    
}


.left .legend {
    color: var(--marrom-bombom);
    background-color:var(--marrom-bombom);
    margin-left:-40%;
    height: 30px;
    align-items: center;
    display: flex;
    justify-content:flex-end;
}

.legend p {
    margin-right:10px;
    width: 70%;
    
    

    
}

.right {
    width: 45%;
    height: 100%;
    
}


.right-content{
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    

}

.right-content .img  {
    position: relative;
    margin-top: 55px;
    width: 100%;
    
    height: 450px;
    display: flex;
    justify-content: center;
}

.right-content .img #img {
    display: flex;
    position: absolute;
    max-width: 430px;
    min-width: 380px;
    width: 100%;
    z-index: 10;
    
    
}

.right-content .img #triangulo {
    display: flex;
    position: absolute;
    max-width: 415px;
    max-height:540px;
    
    z-index: 1;
}


.right-content h2{
    
    width: 200px;
    flex-wrap: wrap;
    display: flex;
    font-size: max(50px,5vw);
    margin-right: 250px;
    justify-content:flex-start;

}

.right-content h2 span {
    
    padding-left: 75px;
    

}

footer {
    display: flex;
    width: 100%;
    justify-content:center;
    background-color: var(--marrom-bombom);
    height: 5.5vh;
    
}

.footer {
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100%;
    
}


.footer img{
    display: flex;
    position: relative;
    width: 100%;
    bottom: 35px;
    max-width: 115px;
    height: 115px;
    z-index: 10;
    
}


