@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Just+Another+Hand&display=swap');

*{
    font-family: var(--fonte-primaria);
}

:root{
    --fonte-primaria: font-family:'Open Sans', sans-serif;
    --fonte-secundaria: font-family: 'Rubik', sans-serif;
    --fonte-botao: font-family: 'Shizuru', cursive;
    --fonte-jeancarlos:font-family: 'Just Another Hand', cursive;
    --amarelo-mamys: #EDD44F;
    --amarelo-estranho: #DDD67F;
    --marrom-bombom:#1E1616;
    --red-jean:#CA3B3B;

}

.container{
    max-width: 80%;
    
    display: flex;
    margin: 0 auto;
    
}

body{
    width: 100%;
    box-sizing: border-box;
    font-family: var(--fonte-primaria);
    overflow-x: hidden;
    
    background-color:var(--amarelo-mamys);
}

nav { 
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content:center;
    background-color: var(--marrom-bombom);
    height: 9.5vh; 
}

.nav {
    display: flex;
    width: 100%;
    height: 100%;

    
    background-color:cornflowerblue;

    justify-content: space-between;
    /* justify-content: space-between; */

}


.nav li {
    display: flex;
    width: 20%;
    height: 100%;
    align-items: center;
    justify-content:space-around;
    background-color:greenyellow;
}

.button-menu {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 80%;
    border: 1px solid #CA3B3B;  
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding: 10px;  
    background-color: var(--marrom-bombom);
}


hr {
    width: 100%;
    
    border: 1px solid #FFFFFF;
    
}


main {
    width: 100%;
    
    height: 85vh;
    background-color:var(--amarelo-mamys);
}

.main {
    
    display: flex;  
    width: 100%;

    display: flex;

    height: 100%;
    position: relative;
}



.left {
    max-width: 55%;
    height: 100%;
    display: flex;  
    flex-direction: column;
    justify-content:space-around;

    background-color:black;
}
.call {
    display: flex; 
    background: red;
    max-width:100%;
    margin-top:7%;
    height: 112px;    
    font-size: 2rem;
}

.call span {
    color: var(--red-jean);
    font-size: 3rem;
    
}

.left .name {
    display: flex;
    
    flex-direction: column;;
    color: white;
    
    background-color:blueviolet;
    
    font-family: var(--fonte-jeancarlos);
}

.left .name h1, h2 {
    display: flex;
    font-size: 5em;
    
}

.line-left{
    
    border: 0.5px solid #FFFFFF;
    
    
}

.left .text {
    
    color: #FFFFFF;
}



.items {
    display: flex;
    background-color: yellow;
    max-width: 100%; 
    flex-wrap: wrap;    
}

.items .item-box{
    display: flex;
    max-width:33.33333333%;
    flex-direction: column;
    
    background-color:red;
    
}

.items .item-box img {
    display: flex;

    width: 100%;
    
    height:100%;
}


.left .legend {
    color: white;
}

.right {
    
    display: flex;  
    width: 45%;
    background-color: red;
    height: 100%;
    margin: 0 auto;
    
    
}


.right-content{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    align-items: center;
    
    background-color:darkred;

}

.right-content .img  {
    position: relative;
    width: 100%;
    max-width: 100%;
    display: flex;
    justify-content: center;

    
    
}

.right-content .img #img {
    display: flex;
    position: absolute;
    width: 70%;

    
    z-index: 10;

    margin-top: 10%;
    background-color:#DDD67F
}

.right-content .img #triangulo {
    display: flex;
    margin-top: 32px;
    width: 60%;
    z-index: 1;
}

.right-content .titulo{
    width: 100%;
    display: flex;
    background-color:green;
    justify-content:center;
    font-size:1em
}

.right-content .h2{

    width: 100%;
    display: flex;
    background-color:green;
    justify-content:center;

}

.right-content .titulo span {
    background-color:aqua;
    margin-left: 15%;

}

footer {
    display: flex;
    width: 100%;
    justify-content:center;
    background-color: var(--marrom-bombom);
    height: 5.5vh;

    
}

.footer {
    display: flex;
    justify-content:center;
    width: 100%;
    height: 100%;
    
}


.footer img{
    display: flex;
    position: relative;
    width: 5.   5%;
    z-index: 10;
    bottom: 45%;
}


